{% include 'base.html' %}
{% include 'navigation.html' %}
{% block content %}
<style>
    body{
        background-image: url('https://media.gettyimages.com/id/1394898478/photo/confident-medical-practitioners-at-hospital.jpg?s=2048x2048&w=gi&k=20&c=I_QGZ2HV-qQxCn6FT7i3NgFJHYTyWLnZxJ7-GQ018Vg=');
        background-size: cover;
        no-repeat;
        color: black;
        sans-serif;
        padding: 20px;
        text-align: center;
        


    }
</style>
<h2 class="text-dark text-center" style="margin-top: 50px;">About Us</h2>


<div class="container" style="margin-top:100px;">

    <div class="row">
        <div class="col-md-6">
        <h1 class="strong"><b>Who are and<br>What we do</b></h1>
        <p class="lead"><b>This is the world's leading portal for<br>Easy and quick</b></p>
    </div>
    <div class="col-md-6">
        <p><b>Hospital, an institution that is built, staffed, and equipped for the diagnosis of disease; for the treatment, both medical and surgical, of the sick and the injured; and for their housing during this process. The modern hospital also often serves as a centre for investigation and for teaching.</b></p>
        <p><b>Patients who are staying at the hospital will always be under the care of doctors and nurses who are always available for taking care of the injured or sick patients. Hospitals always have the tools and machines needed for treating the patients</b></p>

    </div>
<div class="row">
    <div class="site-heading text-center">
        <h3>Our Team</h3>
        <p><b>Highlight personalities. Everyone at your company has a unique personality,<br>but this isn't always apparent to website visitors and potential customers.</b></p>

        <div class="border"></div>
    </div>
</div>

{% endblock content %}
{% include 'footer.html' %}
